* {
    text-align: center;
    background-color: antiquewhite;
}
Button{
    width: 200px;
    height: 40px;
    color: aliceblue;
    background-color: black;
    font-size: 20px;
}
p{
    font-size: 66px;
    padding: 2px;
    margin: 20px;

}
#result-el{
    color: rgb(70, 212, 9);
    font-size: 86px;

}